<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638349590608-a2k7dvers6vd9gcpkudof9vmm6h1eicp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638349590608-a2k7dvers6vd9gcpkudof9vmm6h1eicp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1bROnn1zfjlB5vbVWBaCDfSaaWuLr6NY</string>
	<key>GCM_SENDER_ID</key>
	<string>638349590608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ogaBassey</string>
	<key>PROJECT_ID</key>
	<string>gadgetz-eab3b</string>
	<key>STORAGE_BUCKET</key>
	<string>gadgetz-eab3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638349590608:ios:51ddbd039a9a62708ed155</string>
</dict>
</plist>